* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f5f5dc;
}

.icon0 {
  display: inline-block;
  background-image: url(../../../../../public/icons/iconsMenu/menuClose.svg);
  min-width: 1.88rem;
  min-height: 1.88rem;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.icon1, .icon4, .icon3, .icon2 {
  display: inline-block;
  background-image: url(../../../../../public/icons/iconsMenu/home.svg);
  min-width: 1.88rem;
  min-height: 1.88rem;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.icon2 {
  background-image: url(../../../../../public/icons/iconsMenu/redes.svg);
}

.icon3 {
  background-image: url(../../../../../public/icons/iconsMenu/pdfs.svg);
}

.icon4 {
  background-image: url(../../../../../public/icons/iconsMenu/configs.svg);
}

.SideBarIconBnt1, .SideBarIconBnt10, .SideBarIconBnt9, .SideBarIconBnt7, .SideBarIconBnt8, .SideBarIconBnt6, .SideBarIconBnt5, .SideBarIconBnt4, .SideBarIconBnt3, .SideBarIconBnt2 {
  display: block;
  background-image: url(../../../../../public/icons//iconsSideBar/iconsWhats.svg);
  min-width: 1.76rem;
  min-height: 1.52rem;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
}

.SideBarIconBnt2 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconInsta.svg);
}

.SideBarIconBnt3 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconLikedin.svg);
}

.SideBarIconBnt4 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconGitHub.svg);
}

.SideBarIconBnt5 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconEmail.svg);
}

.SideBarIconBnt6 {
  background-image: url(../../../../../public/icons/iconsSideBar/iconCurriculum.svg);
}

.SideBarIconBnt7, .SideBarIconBnt8 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconGridCurriculum.svg);
}

.SideBarIconBnt9 {
  background-image: url(../../../../../public/icons/iconsSideBar/iconThemeDark.svg);
}

.SideBarIconBnt10 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconAccessibility.svg);
}

.bntsMenu {
  font-size: 0.8em;
  text-align: center;
  padding: 0px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
}

.sideBarBnts {
  display: flex;
  min-width: 1.76rem;
  min-height: 1.76rem;
  border-radius: 6px;
  background-color: rgb(176, 150, 0);
  border: none;
  transition: 0.3s;
}

.sideBar {
  position: fixed;
  bottom: 0;
  right: -60vw;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 5px;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(51, 51, 51)), linear-gradient(to top, rgb(245, 245, 220) 0%, rgb(51, 51, 51) 70%);
  background-origin: padding-box;
  background-clip: content-box, padding-box;
  min-width: 40vw;
  min-height: 15.63rem;
  padding-left: 0.18rem;
  transition: 0.3s;
}
.sideBar .layoutSideBar {
  margin: 10px;
  width: 100%;
}
.sideBar .layoutSideBar .divDadBnts {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  min-height: 2.5rem;
  margin: 0 0 0 0.35rem;
  transition: 0.3s;
}
.sideBar .layoutSideBar .divDadBnts:hover .sideBarBnts {
  margin-top: 0.13rem;
  min-height: 1.24rem;
}

.sideBarClose {
  right: 0vw;
  transition: 0.3s;
}

.bntCloseSidebar {
  position: fixed;
  bottom: 0;
  left: -62vw;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 3rem;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(51, 51, 51));
  min-width: 60vw;
  height: 4.38rem;
  transition: 0.3s;
}

.closeBnt {
  left: 0vw;
  transition: 0.3s;
}

#container-menu-mobile {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  background-color: rgb(51, 51, 51);
  min-width: 100vw;
  height: 4.38rem;
  border-radius: 0.63rem 0.63rem 0 0;
}

.container-major {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(40, 0, 10));
  background-color: #28000a;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container-major #content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.videoFormat {
  width: 50%;
  height: auto;
}

#comentario {
  color: black;
}

/*# sourceMappingURL=style.css.map */
