@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
.shapesBackgroundForBody {
  position: absolute;
  top: 0;
  z-index: -1;
  display: hidden;
  min-width: 100vw;
  height: auto;
  overflow: hidden;
}
.shapesBackgroundForBody .layoutShape1, .shapesBackgroundForBody .layoutShape3, .shapesBackgroundForBody .layoutShape2 {
  position: relative;
  width: 345px;
  height: 345px;
  top: 0;
  left: -1.15vw;
  background-image: url(../../../../public/assets/Rectangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.shapesBackgroundForBody .layoutShape2 {
  z-index: -1;
  top: -3vh;
  left: -25vw;
  /*
  .shape2 {
  	@extend .shape1;
  }*/
}
.shapesBackgroundForBody .layoutShape3 {
  z-index: -1;
  top: -62vh;
  left: auto;
  right: -52vw;
  /*
  .shape3 {
  	@extend .shape1;
  	top: -300px;
  	left: 190px;
  }*/
}

.icon0 {
  display: inline-block;
  background-image: url(../../../../../public/icons/iconsMenu/menuClose.svg);
  min-width: 1.88rem;
  min-height: 1.88rem;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.icon1, .icon4, .icon3, .icon2 {
  display: inline-block;
  background-image: url(../../../../../public/icons/iconsMenu/home.svg);
  min-width: 1.88rem;
  min-height: 1.88rem;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.icon2 {
  background-image: url(../../../../../public/icons/iconsMenu/redes.svg);
}

.icon3 {
  background-image: url(../../../../../public/icons/iconsMenu/pdfs.svg);
}

.icon4 {
  background-image: url(../../../../../public/icons/iconsMenu/configs.svg);
}

.SideBarIconBnt1, .SideBarIconBnt10, .SideBarIconBnt9, .SideBarIconBnt7, .SideBarIconBnt8, .SideBarIconBnt6, .SideBarIconBnt5, .SideBarIconBnt4, .SideBarIconBnt3, .SideBarIconBnt2 {
  display: block;
  background-image: url(../../../../../public/icons//iconsSideBar/iconsWhats.svg);
  min-width: 1.76rem;
  min-height: 1.52rem;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
}

.SideBarIconBnt2 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconInsta.svg);
}

.SideBarIconBnt3 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconLikedin.svg);
}

.SideBarIconBnt4 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconGitHub.svg);
}

.SideBarIconBnt5 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconEmail.svg);
}

.SideBarIconBnt6 {
  background-image: url(../../../../../public/icons/iconsSideBar/iconCurriculum.svg);
}

.SideBarIconBnt7, .SideBarIconBnt8 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconGridCurriculum.svg);
}

.SideBarIconBnt9 {
  background-image: url(../../../../../public/icons/iconsSideBar/iconThemeDark.svg);
}

.SideBarIconBnt10 {
  background-image: url(../../../../../public/icons//iconsSideBar/iconAccessibility.svg);
}

.bntsMenu {
  font-size: 0.8em;
  text-align: center;
  padding: 0px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
}

.sideBarBnts {
  display: flex;
  min-width: 1.76rem;
  min-height: 1.76rem;
  border-radius: 6px;
  background-color: rgb(176, 150, 0);
  border: none;
  transition: 0.3s;
}

.sideBar {
  position: fixed;
  bottom: 0;
  right: -60vw;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 5px;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(51, 51, 51)), linear-gradient(to top, rgb(245, 245, 220) 0%, rgb(51, 51, 51) 70%);
  background-origin: padding-box;
  background-clip: content-box, padding-box;
  min-width: 40vw;
  min-height: 15.63rem;
  padding-left: 0.18rem;
  transition: 0.3s;
}
.sideBar .layoutSideBar {
  margin: 10px;
  width: 100%;
}
.sideBar .layoutSideBar .divDadBnts {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  min-height: 2.5rem;
  margin: 0 0 0 0.35rem;
  transition: 0.3s;
}
.sideBar .layoutSideBar .divDadBnts:hover .sideBarBnts {
  margin-top: 0.13rem;
  min-height: 1.24rem;
}

.sideBarClose {
  right: 0vw;
  transition: 0.3s;
}

.bntCloseSidebar {
  position: fixed;
  bottom: 0;
  left: -62vw;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 3rem;
  background-image: linear-gradient(rgb(51, 51, 51), rgb(51, 51, 51));
  min-width: 60vw;
  height: 4.38rem;
  transition: 0.3s;
}

.closeBnt {
  left: 0vw;
  transition: 0.3s;
}

#container-menu-mobile {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  background-color: rgb(51, 51, 51);
  min-width: 100vw;
  height: 4.38rem;
  border-radius: 0.63rem 0.63rem 0 0;
}

.bntCarousel {
  position: relative;
  min-width: 1.5rem;
  min-height: 4rem;
  background-color: rgb(51, 72, 13);
  border-radius: 0.5rem;
  border: none;
}

.item0, .item4, .item3, .item2, .item1 {
  display: block;
  min-width: 5rem;
  margin-left: 0.415rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  background-image: url(.././../../../../public/imgs/img1.jpg);
}

.item1 {
  background-image: url(.././../../../../public/imgs/img2.jpg);
}

.item2 {
  background-image: url(.././../../../../public/imgs/img3.jpg);
}

.item3 {
  background-image: url(.././../../../../public/imgs/img4.jpg);
}

.item4 {
  background-image: url(.././../../../../public/imgs/img5.jpg);
}

#container-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  min-height: 9.4rem;
  margin: 1rem 0 2rem 0;
}
#container-carousel .carouselList {
  display: inherit;
  overflow: hidden;
  width: 16.5rem;
  max-height: 9.4rem;
}
#container-carousel .carouselList .ContainerItems {
  display: flex;
}

.bntCarousel {
  position: relative;
  min-width: 1.5rem;
  min-height: 4rem;
  background-color: rgb(51, 72, 13);
  border-radius: 0.5rem;
  border: none;
}

.item0, .item1, .item2, .item3, .item4 {
  display: block;
  min-width: 5rem;
  margin-left: 0.415rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  background-image: url(.././../../../../public/imgs/img1.jpg);
}

.item1 {
  background-image: url(.././../../../../public/imgs/img2.jpg);
}

.item2 {
  background-image: url(.././../../../../public/imgs/img3.jpg);
}

.item3 {
  background-image: url(.././../../../../public/imgs/img4.jpg);
}

.item4 {
  background-image: url(.././../../../../public/imgs/img5.jpg);
}

#container-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  min-height: 9.4rem;
  margin: 1rem 0 2rem 0;
}
#container-carousel .carouselList {
  display: inherit;
  overflow: hidden;
  width: 16.5rem;
  max-height: 9.4rem;
}
#container-carousel .carouselList .ContainerItems {
  display: flex;
}

.audio-player {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  padding: 0.6rem 0.6rem 0.6rem 0;
}
.audio-player .play-pause, .audio-player .bntVolume {
  background: transparent;
  border: none;
  padding: 6px 8px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.audio-player .play, .audio-player .volumeMuted, .audio-player .volume, .audio-player .pause {
  display: block;
  background-image: url(../../../../public/icons/content/iconPlay.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
.audio-player .pause {
  background-image: url(../../../../public/icons/content/iconPause.svg);
}
.audio-player #progress-time-container {
  flex-grow: 1;
  max-width: 15rem;
  min-width: 5rem;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.audio-player #progress-time-container #progress-time {
  height: 100%;
  background-color: rgb(51, 72, 13);
  width: 0;
  border-radius: 5px;
}
.audio-player .bntPlaySpeedAudio {
  display: flex;
  flex-direction: column;
  background: transparent;
  margin: 0 10px 0 0;
  place-content: center;
  place-items: center;
  font-size: 0.7rem;
  min-width: 2.5em;
  min-height: 2.5em;
  border: 2px solid rgb(51, 72, 13);
  cursor: pointer;
  border-radius: 50%;
}
.audio-player .bntPlaySpeedAudio .textBntSpeedAudio {
  width: auto;
  height: 0.7rem;
}
.audio-player .volume {
  background-image: url(../../../../public/icons/content/iconAudio.svg);
}
.audio-player .volumeMuted {
  background-image: url(../../../../public/icons/content/iconAudioMuted.svg);
}
.audio-player #bar-volume-container {
  flex-grow: 1;
  max-width: 5rem;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}
.audio-player #bar-volume-container #bar-volume-content {
  height: 100%;
  background-color: #33480d;
  width: 5rem;
  border-radius: 5px;
}

iframe {
  background: url("../../../../public/imgs/pexels-creative-vix-9754.jpg");
  background-size: cover;
  width: 20rem;
  height: 10rem;
}

/*{

            background: `url(${poster}) top center no-repeat; background-size: cover;`

}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(245, 245, 220);
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-major {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(40, 0, 10));
  background-color: #28000a;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container-major #content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 0 2rem 0 2rem;
}
.container-major #about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-size: 1.2em;
  min-width: 100%;
}
.container-major #about-me #presentation {
  display: flex;
  flex-direction: column;
  height: auto;
}
.container-major #about-me #presentation .titles {
  margin: 0 0 0 1rem;
}
.container-major #about-me #presentation #audio {
  margin: 1rem 0 1rem 0;
}
.container-major #about-me #presentation #audio .controls {
  background-color: none;
}
.container-major #about-me #presentation .textPresentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 100%;
}

#comentario {
  color: black;
}

/*# sourceMappingURL=style.css.map */
