iframe{
    background: url("../../../../public/imgs/pexels-creative-vix-9754.jpg") ; 
    background-size: cover;
    width: 20rem; 
     height : 10rem;
}

/*{
    
            background: `url(${poster}) top center no-repeat; background-size: cover;`
          
}*/