#container-skills {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 100%;
	color: white;
	font-size: 1.2em;
	min-width: 100%;
	margin:    2rem 1rem 1rem 0;
	gap: 0.5em 1rem;

	.miniCard {
		background-repeat: no-repeat;
		background-size:  cover;
		background-position: center;
		border-radius: .4rem;
		min-width: 4.43rem;
		min-height: 4.43rem;
	}
	.selected{
		border: 2px solid $color-dourado;
	}

	.cardDetails {
		
		padding: 2px;

		.imgOfCard {
			display: block;
			
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: .4rem;
			min-width: 100%;
			height: 100%;
			object-fit: fill;
			
		}

		.title {
			font-weight: bold;
			margin: 0.9em 0 0.9em 0.9em;
		}
		.description {
			font-size: $font-secondary;
			margin: 0.9em 0 0.9em 0.9em;
		}
		.descriptionsOfCard {
			font-size: $font-secondary;
			text-align: end;
			//border: 1px solid green;
			padding: 0 0 0.5em 0.5em;
		}
	}

	.item-1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.item-2 {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.item-3 {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.item-4 {
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.item-5 {
		grid-column: 1/2;
		grid-row: 5/6;
	}
	.item-6 {
		grid-column: 3/4;
		grid-row: 1/2;
	}
	.item-7 {
		grid-column: 3/4;
		grid-row: 2/3;
	}
	.item-8 {
		grid-column: 3/4;
		grid-row: 3/4;
	}
	.item-9 {
		grid-column: 3/4;
		grid-row: 4/5;
	}
	.item-10 {
		grid-column: 3/4;
		grid-row: 5/6;
	}

	.cardDetails {
		grid-column: 2/3;
		grid-row: 1/3;
	}
}
