@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@import "./others/variables/colors.scss";
@import "./others/variables/fonts.scss";
@import "./others/componets/shapes/style.scss";
//@import "./others/componets/shape.scss";
@import "./others/componets/menuMobile/menu/style.scss";
@import "./others/componets/carousel/container/style.scss";
@import "./others/componets/carousel/container/style.scss";
@import "./others/componets/audio/style.scss";
@import "./others/componets/video/style.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	@import "./others/variables/colors.scss";
	color: $color-bege;
	font-family: "Comfortaa", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.container-major {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(40, 0, 10));
	background-color: #28000a;
	background-repeat: no-repeat;
	min-height: 100vh;
	#content {
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		font-size: $font-primary;
		padding: 0 2rem 0 2rem;
	}

	#about-me {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: white;
		font-size: 1.2em;
		min-width: 100%;

		#presentation {
			display: flex;
			flex-direction: column;

			height: auto;
			.titles{
				margin:1rem 0 1rem 1rem;

			}
			#audio{
				margin:1rem 0  1rem 0;

				.controls{
					background-color: none;
				}
			}
			.textPresentation {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				font-size: $font-secondary;
				margin: 1rem 0 1rem 0;
				width: 100%;
				height: 100%;
			}

		}
	}
}

#comentario {
	color: black;
}
