.bntCertificate {
	display: flex;
    justify-content: end;
    align-items: center;
	border: none;
	border-radius: 0.5rem;
	background-color: $color-bege;
    font-size: $font-small;
	width: 6.25rem;
	height: 1.6rem;
	color: $color-black;

	.iconCertificate {
		width: 1.5rem;
		height: 1.8rem;
        border-radius: 0.5rem;
		background-color: $color-cinza;
        background-image: url(./icons/areaSkills/openCertificate.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        
	}
}
