//@import "../../buttons/bntWhats/style.scss";

.sideBar {
	position: fixed;
	bottom: 0;
	right: -60vw;
	z-index: 3;
	display: flex;
	justify-content: space-around;
	border-top-left-radius: 5px;
	background-image: linear-gradient($color-cinza, $color-cinza),
		linear-gradient(to top, $color-bege 0%, $color-cinza 70%);
	background-origin: padding-box;
	background-clip: content-box, padding-box;
	min-width: 40vw;
	min-height: 15.63rem;
	padding-left: 0.18rem;
	transition: 0.3s;

	.layoutSideBar {
		margin: 10px;
		width: 100%;

		.divDadBnts {
			display: flex;
			align-items: center;
			gap: .4rem;
			min-height: 2.5rem;
			margin: 0 0 0 .35rem;
			transition: 0.3s;

			&:hover {
				.sideBarBnts {
					margin-top: 0.13rem;
					min-height: 1.24rem;
				}
			}
		}
	}
}

.sideBarClose {
	right: 0vw;
	transition: 0.3s;
}

.bntCloseSidebar{
	position: fixed;
	bottom: 0;
	left: -62vw;
	z-index: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 3rem;
	background-image: linear-gradient($color-cinza, $color-cinza);
	min-width: 60vw;
	height: 4.38rem;
	transition: 0.3s;

}

.closeBnt {
	left: 0vw;
	transition: 0.3s;
}
