@mixin layoutSquare($position, $z-index, $top, $left, $width,
	$height,) {
	position: $position;
	z-index: $z-index;
	top: $top;
	left: $left;
    width: $width;
	height: $height;
}

@mixin square(
	$width,
	$height,
	$backgroundColor,
	$backgroundImage,
	$rotate,
	$borderRadius
) {
	width: $width;
	height: $height;
	background-color: $backgroundColor;
	background-image: $backgroundImage;
	rotate: $rotate;
	border-radius: $borderRadius;
}

.layoutShape1 {

    position: relative;
    z-index: -1;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    border: 2px solid red;

	.shape1 {
		@include square(
			250px,
			250px,
			rgb(82, 5, 25),
			linear-gradient(rgba(0, 0, 0, 0.7), rgb(82, 5, 25)),
			-45deg,
			10px
		);
	}
}
.shape2 {
	@extend .shape1;
	top: 60px;
	left: -100px;
}
.shape3 {
	@extend .shape1;
	top: -300px;
	left: 190px;
}
