@mixin layoutSquare($position, $z-index, $top, $left, $width, $height) {
	position: $position;
	z-index: $z-index;
	top: $top;
	left: $left;
	width: $width;
	height: $height;
}

@mixin square(
	$width,
	$height,
	$backgroundColor,
	$backgroundImage,
	$rotate,
	$borderRadius
) {
	width: $width;
	height: $height;
	background-color: $backgroundColor;
	background-image: $backgroundImage;
	rotate: $rotate;
	border-radius: $borderRadius;
}

.shapesBackgroundForBody {
	position: absolute;
	top: 0;
	z-index: -1;
	display: hidden;
	min-width: 100vw;
	height: auto;
	overflow: hidden;

	.layoutShape1 {
		position: relative;
		width: 345px;
		height: 345px;
		top: 0;
		left: -1.15vw;
		background-image: url(../../../../public/assets/Rectangle.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.layoutShape2 {
		@extend .layoutShape1;

		z-index: -1;
		top: -3vh;
		left: -25vw;
		/*
		.shape2 {
			@extend .shape1;
		}*/
	}

	.layoutShape3 {
		@extend .layoutShape1;

		z-index: -1;
		top: -62vh;
		left: auto;
		right: -52vw ;
		/*
		.shape3 {
			@extend .shape1;
			top: -300px;
			left: 190px;
		}*/
	}
}
