// @mixin layoutSquare($position, $z-index, $top, $left, $width, $height) {
// 	position: $position;
// 	z-index: $z-index;
// 	top: $top;
// 	left: $left;
// 	width: $width;
// 	height: $height;
// }

// @mixin square(
// 	$width,
// 	$height,
// 	$backgroundColor,
// 	$backgroundImage,
// 	$rotate,
// 	$borderRadius
// ) {
// 	width: $width;
// 	height: $height;
// 	background-color: $backgroundColor;
// 	background-image: $backgroundImage;
// 	rotate: $rotate;
// 	border-radius: $borderRadius;
// }

.shapesBackgroundForBody {
	position: absolute;
	top: 0;
	z-index: -1;
	display: hidden;
	min-width: 100vw;
	height: auto;
	overflow: hidden;

	.layoutShape1 {
		position: relative;
		width: 345px;
		height: 345px;
		top: 0;
		left: -1vw;
		background-image: url(./assets/Rectangle.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.layoutShape2 {
		@extend .layoutShape1;
		top: -3vh;
		left: -25vw;
	}

	.layoutShape3 {
		@extend .layoutShape1;
		top: -30rem;
		left: 13rem;
	}

	.halfOctagon {
		@extend .layoutShape1;
		top: -18rem;
		left: 0;
		width: 100%;
		height: 50rem;
		rotate: 180deg;
		background-image: url("./assets/octagon.svg");
	}

	.isoscelesTrapezoid {
		@extend .layoutShape1;
		top: -13rem;
		left: 0;
		
		width: 100%;
		height: 40rem;

		background-image: url("./assets/rectangle2.svg");
	}
}
