@import "../../buttons/buttons.scss";
@import "../sideBar/sideBar.scss";

#container-menu-mobile {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	bottom: 0;
	left: 0;
	font-size: 1.2em;
	background-color: $color-cinza;
	min-width: 100vw;
	height: 4.38rem;
	border-radius: 0.63rem 0.63rem 0 0;
}
