.SideBarIconBnt1 {
	display: block;
	background-image: url("../public/icons/iconsSideBar/iconsWhats.svg");
	min-width: 1.76rem;
	min-height: 1.52rem;
	background-size: cover;
    border-radius: 5px;
	background-repeat: no-repeat;
	object-fit: cover;
    cursor: pointer;

    
}
