@import "../../../variables/colors.scss";

.bntCarousel{
    position: relative;
    min-width: 1.5rem;
    min-height: 4rem;
    background-color: $color-secondary;
    border-radius: .5rem;
    border: none;
    
}