


.item0{
    display: block;
    min-width: 5rem;
    margin-left: .415rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    background-image: url(.././../../../../public/imgs/img1.jpg);
}
.item1{
    @extend .item0;
    background-image: url(.././../../../../public/imgs/img2.jpg);
  
}
.item2{
    @extend .item0;
    background-image: url(.././../../../../public/imgs/img3.jpg);
   
}
.item3{
    @extend .item0;
    background-image: url(.././../../../../public/imgs/img4.jpg);
   
}
.item4{
    @extend .item0;
    background-image: url(.././../../../../public/imgs/img5.jpg);
   
}
