.itemList-0 {
	display: block;
	position: relative;
	min-width: 6rem;
	margin-left: 0.415rem;
	height: 8rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	object-fit: cover;
	background-image: url(./imgs/projetos/img1.jpg);
}

.itemList-1 {
	@extend .itemList-0;
	background-image: url(./imgs/projetos/img2.jpg);
}

.itemList-2 {
	@extend .itemList-0;
	background-image: url(./imgs/projetos/img3.jpg);
}
.itemList-3 {
	@extend .itemList-0;
	background-image: url(./imgs/projetos/img4.jpg);
}
.itemList-4 {
	@extend .itemList-0;
	background-image: url(./imgs/projetos/img5.jpg);
}
