$color-primary : rgb(128,0,32);
$color-secondary : rgba(51, 72, 13, 1);
$variantColor-secundary2 : rgb(85,107,47);

$color-dourado : rgb(255, 217, 0); 
$color-douradoEscuro : rgb(155, 132, 0);
$color-cinza : rgba(51, 51, 51, 1);
$color-bege : rgb(245, 245, 220);
$color-turquesa : rgb(64, 224, 208);
$color-branco : rgb(255,255,255);
$color-preto : rgba(0, 0, 0, 0.5);


