@use "./bnt0CloseSidebar/style.scss" as *;
@use "./bnt1Menu/style.scss" as *;
@use "./bnt2Networks/style.scss" as *;
@use "./bnt3Pdfs/style.scss" as *;
@use "./bnt4Config/style.scss" as *;
@use "./bnt5Whats/style.scss" as *;
@use"./bnt6Insta/style.scss" as *;
@use"./bnt7Linkedin/style.scss" as *;
@use "./bnt8GitHub/style.scss" as *;
@use "./bnt9Email/style.scss" as *;
@use "./bnt10Curriculum/style.scss" as *;
@use "./bnt11CourseMatrix/style.scss" as *;
@use "./btn12Thema/style.scss" as *;
@use "./btn13Accessibility/style.scss" as *;
@use "./Buttons_AreaSkills/style.scss" as *;
@use "../../variables/colors.scss" as *;




.bntsMenu {
	font-size: 0.8em;
	text-align: center;
	padding: 0px;
	border-radius: 3px;
	background-color: transparent;
	border: none;
}


.sideBarBnts {
	display: flex;
	min-width: 1.76rem;
	min-height: 1.76rem;
	border-radius: 6px;
	background-color: $color-douradoEscuro;
	border: none;
	transition: 0.3s;

}
