.bntMenu {
	font-size: 0.8em;
	text-align: center;
	padding: 0px;
	border-radius: 3px;
	background-color: red;

	.icon1 {
		display: inline-block;
		background-image: url(../../../../../public/icons/iconHome.png);
		min-width: 1.88rem;
		min-height: 1.88rem;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.icon2 {
		background-image: url(../../../../../public/icons/iconNetworking.png);
		@extend .icon1;
	}
	.icon3 {
		background-image: url(../../../../../public/icons/iconFiles.png);
		@extend .icon1;
	}
	.icon4 {
		background-image: url(../../../../../public/icons/iconConfig.png);
		@extend .icon1;
	}
}
