// Fazer uma mixin para otimizar código
.audio-player {
	display: flex;
	width: 100%;
	align-items: center;
	border-radius: 5px;
	margin: 0 0 0 0;

	.play-pause {
		background: transparent;
		border: none;
		padding: 6px 8px;
		margin: 0 10px 0 0;
		cursor: pointer;
	}
	.play {
		display: block;

		background-image: url("../public/icons/content/iconPlay.svg");
		background-size: contain;
		background-repeat: no-repeat;
		width: 1rem;
		height: 1rem;
	}
	.pause {
		@extend .play;
		background-image: url("../public/icons/content/iconPause.svg");
	}
	#progress-time-container {
		flex-grow: 1;
		max-width: 15rem;
		min-width: 5rem;
		height: 4px;
		background-color: #fff;
		border-radius: 4px;
		margin: 0 10px 0 0;
		cursor: pointer;

		#progress-time {
			height: 100%;
			background-color: $color-secondary;
			width: 0;
			border-radius: 4px;
		}
	}

	.bntPlaySpeedAudio {
		display: flex;
		flex-direction: column;
		background: transparent;
		margin: 0 10px 0 0;
		place-content: center;
		place-items: center;
		//padding: 0.5em;
		font-size: $font-small;
		min-width: 2.5em;
		min-height: 2.5em;
		border: 2px solid $color-secondary;
		cursor: pointer;
		border-radius: 50%;

		.textBntSpeedAudio {
			width: auto;
			height: 0.7rem;
		}
	}

	.bntVolume {
		@extend .play-pause;
	}
	.volume {
		@extend .play;
		background-image: url("../public/icons/content/iconAudio.svg");
	}
	.volumeMuted {
		@extend .play;
		background-image: url("../public/icons/content/iconAudioMuted.svg");
	}

	#bar-volume-container {
		flex-grow: 1;
		max-width: 5rem;
		height: 4px;
		background-color: #fff;
		border-radius: 4px;
		margin: 0 10px;
		cursor: pointer;

		#bar-volume-content {
			height: 100%;
			background-color: #33480d;
			width: 5rem;
			border-radius: 4px;
		}
	}
}
