	.icon1 {
		display: inline-block;
		background-image: url(../../../../../public/icons/iconsMenu/home.svg);
		min-width: 1.88rem;
		min-height: 1.88rem;
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
	}