@import "../buttons/Buttons_AreaSkills/style.scss";
@import "../pdfs/style.scss";

.gridSkills {
	display: flex;
	justify-content: center;
	align-items: center;

	#container-skills {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		width: 100%;
		color: white;
		font-size: 1.2em;
		min-width: 100%;
		margin: 2rem 0 1rem 0;
		gap: 0 0.2rem;

		.backgroundAnimated {
			position: absolute;
			border-radius: 0.6rem;
			background-color: $color-douradoEscuro;
			z-index: -1;
			min-width: 4.43rem;
			min-height: 4.43rem;
			-moz-transition: transform 1.5s;
			-webkit-transition: transform 1.5s;
			-ms-transition: transform 1.5s;
			-o-transition: transform 1.5s;
			transition: transform 1.5s;
		}

		.miniCard {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 0.6rem;
			margin: 4px;
			min-width: 4.43rem;
			min-height: 4.43rem;
		}
		.selected {
			border: 2px solid $color-dourado;
			transition: 0.3s ease-out;
		}

		.cardDetails {
			padding: 2px;
			justify-items: center;
			box-shadow: 1px 1px 10px;
			box-shadow: -1px -1px 10px black;
			//border: 2px solid $color-bege;
			border-radius: 8px;
			height: 20rem;

			.imgOfCard {
				display: block;

				background-size: 100% 100%;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 0.4rem;
				min-width: 100%;
				height: 50%;
				object-fit: fill;
			}

			.title {
				font-weight: bold;
				text-align: center;
				margin: 0.7em 0 0.7em 0;
			}
			.description {
				font-size: $font-secondary;
				margin: 0.7em 0 0.7em 0;
			}
			.descriptionsOfCard {
				font-size: $font-secondary;
				text-align: end;
				padding: 0 0 0.5em 0em;
				.alingParagraphs {
					display: flex;
					justify-content: space-between;
					margin: 0.2em 0 0.2em 0;
				}
			}
		}

		.item-1 {
			grid-column: 1/2;
			grid-row: 1/2;
			//background-image: url("../public/imgs/hardskills/img10.jpeg");
		}
		.item-2 {
			grid-column: 1/2;
			grid-row: 2/3;
			//background-image: url("../public/imgs/hardskills/img3.jpeg");
		}
		.item-3 {
			grid-column: 1/2;
			grid-row: 3/4;
			//background-image: url("../public/imgs/hardskills/img5.png");
		}
		.item-4 {
			grid-column: 1/2;
			grid-row: 4/5;
			//background-image: url("../public/imgs/hardskills/img6.jpeg");
		}
		.item-5 {
			grid-column: 1/2;
			grid-row: 5/6;
			//background-image: url("../public/imgs/hardskills/img8.jpg");
		}
		.item-6 {
			grid-column: 3/4;
			grid-row: 1/2;
			//background-image: url("../public/imgs/hardskills/img9.jpeg");
		}
		.item-7 {
			grid-column: 3/4;
			grid-row: 2/3;
			//background-image: url("../public/imgs/hardskills/img7.jpeg");
		}
		.item-8 {
			grid-column: 3/4;
			grid-row: 3/4;
			//background-image: url("../public/imgs/hardskills/img4.jpeg");
		}
		.item-9 {
			grid-column: 3/4;
			grid-row: 4/5;
			//background-image: url("../public/imgs/hardskills/img1.png");
		}
		.item-10 {
			grid-column: 3/4;
			grid-row: 5/6;
		//	background-image: url("../public/imgs/hardskills/img2.jpeg");
		}

		.cardDetails {
			grid-column: 2/3;
			grid-row: 1/5;
		}
	}
}
