
	.icon0 {
		display: inline-block;
		background-image: url(./icons/iconsMenu/menuClose.svg);
		min-width: 1.88rem;
		min-height: 1.88rem;
		background-size: contain;
		background-repeat: no-repeat;
		object-fit: cover;
	}